@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.video-container {
  position: relative;
  height: 200vh;
  background: rgba(0, 0, 0, 0.4) url("img/subin.jpeg") no-repeat center
    center/cover;
  overflow: hidden;
  background-blend-mode: darken;
  background-attachment: fixed;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  transition: height 0.3s ease;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: linear-gradient(90deg, #0b3e27, #197149);
  /* background: linear-gradient(to right , rgb(0, 78, 50),rgb(6, 146, 95)); */
  height: 70px;
  transition: height 0.3s ease-in-out;
}

.navbar .logo {
  font-size: 1.5em;
  color: white;
}

.logo img {
  height: 45px;
  width: 45px;
  margin-left: 45pc;
}

.navbar .lg img {
  width: 50px;
}

input {
  display: none;
}

#menu {
  font-family: "DM Sans", sans-serif;
  position: absolute;
  margin: 13px 8pc;
  font-size: 19px;
}

.toggle {
  position: absolute;
  height: 9px;
  width: 30px;
  z-index: 1;
  cursor: pointer;
  top: 38px;
  left: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggle .line {
  height: 3px;
  width: 24px;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.slide {
  position: absolute;
  top: -20pc;
  left: -2pc;
  width: 0pc;
  height: 13pc;
  opacity: 0;
  padding: 50px 20px;
  overflow: hiden;
  transition: left 0.3s ease;
}

input:checked ~ .slide {
  /* left: 0; */
  top: 0pc;
  opacity: 1;
  transition: 2s;
}

.slide ul {
  list-style: none;
  display: inline-block;
  padding: 1pc 0pc;
  padding-left: 5pc;
  padding-right: 2952px;
  margin-top: 20px;
  background: linear-gradient(to right, rgb(0, 78, 50), rgb(6, 146, 95));
}

.slide ul li {
  margin: 20px 0;
}

.slide ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

.slide ul li a:hover {
  color: rgb(116, 241, 195);
}

input:checked ~ .toggle .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

input:checked ~ .toggle .line:nth-child(2) {
  opacity: 0;
}

input:checked ~ .toggle .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .slide {
    left: -100%;
    width: 100%;
    transition: left 0.3s ease;
  }

  input:checked ~ .slide {
    left: 0;
  }

  .toggle {
    left: 100px;
  }
}

.content1 {
  text-align: center;
}

.content1 h1 {
  font-size: 90px;
  color: white;
  font-weight: 700;
}

.content1 h3 {
  margin-top: 200px;
  font-variant: small-caps;
  color: white;
  font-size: xx-large;
  letter-spacing: 0.2em;
  unicode-bidi: isolate;
}
.new {
  text-align: center;
}
.new h1 {
  margin-top: 15pc;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 90px;
  cursor: pointer;
  margin-bottom: 160px;
  /* display: none; */
}

.content1 {
  text-align: center;
  transition: opacity 0.5s ease;
}

.content1.hide {
  opacity: 0;
}

/* icons */
.icon {
  fill: white;
  margin-top: 10px;
  flex-direction: row;
  display: inline;
  margin-right: 8px;
}

.box-icon {
  fill: white;
}

.icon-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-list li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.icon-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  /* color: inherit; */
}

.icon-list a:hover {
  color: rgb(116, 241, 195);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  color: white;
}

.overlay.active {
  display: block;
  color: white;
}

.container {
  font-size: 23px;
  color: white;
  margin-top: 200px;
}
.container .featurette-heading {
  margin-top: 50px;
  font-weight: 600;
}
.container .lead {
  margin-top: 30px;
}

.con3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 3pc;
  /* align-items: center; */
  /* text-align: center;  */
}

.con3 .d1 {
  padding: 0;
  margin: 0 30pc;
  font-weight: 700;
  font-size: 58px;
}

.con3 .d2 {
  margin: 20px 30pc;
  padding: 0;
  font-size: 20px;
  justify-content: flex-start;
}

.i1 {
  margin-left: 30pc;
}

.bg3 {
  background: rgb(157, 156, 145);
}
.con13 {
  display: flex;
  flex-direction: column;
  margin-top: 3pc;
  color: white;
  /* align-items: center; */
  /* text-align: center;  */
}

.con13 .d1 {
  padding: 0;
  margin: 0 30pc;
  font-weight: 700;
  font-size: 58px;
}

.con13 .d2 {
  margin: 20px 30pc;
  padding: 0;
  font-size: 20px;
  justify-content: flex-start;
}
.con13 .al {
  margin-left: 30pc;
  font-variant: small-caps;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 25px;
}

/* footer */
#my {
  height: 50%;
  width: 50%;
  position: relative;
  opacity: 0.1;
  z-index: 10;
  margin: 18pc 20pc;
  /* filter: blur(px); */
}

.container {
  margin-top: 300px;
}

.container-fluid3 {
  background-color: black;
  /* margin-top: 40.5pc; */
}

.p {
  background-color: black;
  /* border: 2px solid red; */
  padding: 3pc 11pc;
  position: absolute;
  margin: 40pc 58pc;
}

.l1 img {
  position: absolute;
  /* display: inline; */
  /* border: 2px solid red; */
  /* color: white; */
  height: 2pc;
  width: 2pc;
  /* border-radius: 6pc; */
  margin: 23pc 37pc;
  /* background: transparent; */
}

#ph {
  opacity: 0;
  position: absolute;
  /* margin-bottom: 40pc; */
  height: 48pc;
  width: 60.8pc;
  object-fit: cover;
  margin: 0pc 0pc;
  /* transition: .3s; */
}

.container-fluid3 .container:hover #ph {
  opacity: 0.4;
  transition: 12s ease-in-out;
  transform: scale(1.7);
}

.l1 img {
  opacity: 0;
}

.container-fluid3 .container:hover .l1 img {
  opacity: 1;
  transition: 0.9s;
}

.next {
  z-index: -1;
  background-color: transparent;
  /* border: 5px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxx {
  /* border: 2px solid red; */
  width: 19pc;
  color: white;
  font-family: sans-serif;
  margin-inline: 3pc;
  /* padding: 1pc -3pc; */

  /* margin-inline-start: 1pc; */
  /* margin-left: 0pc; */
  text-align: start;
}

.boxx p {
  color: rgba(255, 255, 255, 0.861);
  letter-spacing: 1px;
}

.boxx h2 {
  line-height: 0pc;
}

.next #b img {
  height: 2pc;
  width: 2pc;
}

.next #b {
  margin-top: -39pc;
  color: rgb(0, 187, 0);
  font-family: cursive sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 2px;
  font-size: x-large;
  font-weight: 600;
}

.next #b3 {
  margin-top: -6pc;
}

.container-fluid3 .l1:hover img.main {
  opacity: 1;
  cursor: pointer;
  position: absolute;
}

.container-fluid3 .l1:hover img.hov {
  opacity: 0;
  cursor: pointer;
  position: relative;
}

.container-fluid3 .l1 img.main {
  opacity: 0;
  position: absolute;
}

.container-fluid3 .l1 img.hov {
  position: absolute;
  opacity: 0;
}

.box101 {
  background: url("img/footerimg.jpeg") no-repeat center center/cover;
  height: 500px;
  position: relative;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.con11 .h3 {
  margin-left: 7pc;
  font-weight: 700;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.con11 a {
  text-decoration: none;
  color: white;
  margin-left: 7pc;
  font-size: 20px;
}

.con11 a:hover {
  color: grey;
}

/* button */
#submit-btn{
    background-color: rgb(173, 173, 173) transparent;
    justify-content: flex-start;
    margin-left: 20pc;
    margin-right: 50pc;
    border: none;
    align-items: start;
    border-radius: 20px;
    justify-content: space-between;
    height: 38px;
}
#submit-btn:hover{
    cursor: pointer;
    background-color: rgb(72, 72, 72) transparent;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#submit-btn.click{
    border: none;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
}

.modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    /* padding: 20px; */
    border-radius: 0pc;
    width: 80%;
    color: white;
    backdrop-filter: blur(0.3pc);
    transition: .3s ease-out;
    border-radius: 2pc;
    border: none;
}
.modal-content:hover{
    transform: translateY(-13px);
    transition: 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 10px 15px rgb(0, 0, 0);
    border: none;
}
#modalContent {
    font-family: 'sans-serif';
    font-size: 19.5px;
    font-weight: 500;
    margin-left: 9pc;
}

.close {
    color: #000000;
    float: right;
    font-size: 38px;
    background-color: grey transparent;
    font-weight:500;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 2pc;
    margin-top: 2pc;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.p2{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color:#197149;
}
.ht{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    margin-left: 13pc;
}